<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging.com</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div id="container">

        <h1 id="heading">Welcome To Blogging.com</h1>
        <p>Explore articles on topics that inspire, inform, and entertain!</p>
        <a id="btn2" href="/new-posts">Create a post</a>
    </div>
    
    <section class="intro">
        <h2>Why You'll Love Our Blog</h2>
        <p>Our blog is a space for creativity and knowledge sharing. We cover a variety of topics, from tech and lifestyle to travel and wellness, all aimed at providing value to our readers.</p>
        <p>Join us on this journey and feel free to share your thoughts by creating your own posts!</p>
      </section>


      <%- include("partials/footer.ejs") %>
</body>
</html>





